<form novalidate [formGroup]="form" (ngSubmit)="submit()">
    <div fxLayout="row" fxLayoutAlign="center">
        <md-card fxFlex="500px">
            <md-card-title>Your details</md-card-title>
            <md-card-content fxLayout="column" fxLayoutAlign="space-between" fxLayoutGap="16px">
                <md-input-container>
                    <input md-input placeholder="First name" formControlName="firstName">
                    <md-hint *ngIf="form.controls.firstName.invalid && formSubmitted" class="error">
                        <span [hidden]="!form.controls.firstName.errors.required">first name is required</span>
                    </md-hint>
                </md-input-container>
                <md-input-container>
                    <input md-input placeholder="Surname" formControlName="surname">
                    <md-hint *ngIf="form.controls.surname.invalid && formSubmitted" class="error">
                        <span [hidden]="!form.controls.surname.errors.required">surname is required</span>
                    </md-hint>
                </md-input-container>
                <md-input-container>
                    <input md-input placeholder="Phone number" formControlName="phoneNumber">
                </md-input-container>
                <md-input-container>
                    <input md-input placeholder="Date of birth" type="date" formControlName="dateOfBirth">
                </md-input-container>
                <div fxLayout="column" fxLayoutAlign="start stretch">
                    <md-select placeholder="Preferred foot" formControlName="preferredFoot" class="select-input-container">
                        <md-option value="Left">Left</md-option>
                        <md-option value="Right">Right</md-option>
                        <md-option value="Both">Both</md-option>
                    </md-select>
                </div>
                <div fxLayout="column" fxLayoutAlign="start stretch">
                    <md-select placeholder="Preferred position" formControlName="preferredPosition" class="select-input-container">
                        <md-option value="Goalkeeper">Goalkeeper</md-option>
                        <md-option value="Defender">Defender</md-option>
                        <md-option value="Midfielder">Midfielder</md-option>
                        <md-option value="Striker">Striker</md-option>
                        <md-option value="All rounder">All rounder</md-option>
                        <md-option value="Benchwarmer">Benchwarmer</md-option>
                    </md-select>
                </div>
            </md-card-content>
            <md-card-actions class="coloured-buttons">
                <a md-raised-button color="primary" routerLink="../details" >CANCEL</a>
                <button md-raised-button color="primary" type="submit">UPDATE</button>
            </md-card-actions>
        </md-card>
    </div>
</form>