<div class="full-page" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="50px">

  <div class="living-room">
    <div class="television">
      <div class="television__center">
        <div class="television__screen">
          <img [src]="imagePath" class="television__channel" />
        </div>
        <!-- television__screen -->
      </div>
      <!-- television__center -->
      <div class="television__base">
        <div class="television__foot"></div>
        <div class="television__stand"></div>
      </div>
      <!-- television__base -->
    </div>
    <!-- television -->
    <div class="cabinet">
      <div class="cabinet__center">
        <div class="cabinet__drawer cabinet__drawer--top">
          <div class="dvd-player">
            <div class="dvd-player__drawer"></div>
            <ul class="dvd-player__controls">
              <li class="dvd-player__control"></li>
              <li class="dvd-player__control"></li>
              <li class="dvd-player__control"></li>
            </ul>
          </div>
        </div>
        <!-- cabinet__screen -->
        <div class="cabinet__drawer cabinet__drawer--bottom">
        </div>
        <!-- cabinet__screen -->
      </div>
      <!-- cabinet__center -->
      <div class="cabinet__base">
        <div class="cabinet__foot cabinet__foot--left"></div>
        <div class="cabinet__foot cabinet__foot--right"></div>
      </div>
      <!-- cabinet__base -->
    </div>
    <!-- cabinet -->

    <div class="sofa">
      <ul class="sofa__heads">
        <li class="sofa__head sofa__head--blonde">
        </li>
        <li class="sofa__head sofa__head--bald">
        </li>
        <li class="sofa__head sofa__head--brunette">
        </li>
      </ul>
      <div class="sofa__couch">
      </div>
    </div>

    <div class="speech">
      <p>Oh no, it looks like you're lost!</p>
      <a md-raised-button color="primary" routerLink="/player/details">HEAD HOME</a>
    </div>
    
  </div>

</div>