<div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="10px">
    <app-player-details fxFlex [playerExists]="playerExists" [player]="player"></app-player-details>
    <md-card fxFlex="50%">
        <md-card-title>Squads</md-card-title>
        <md-card-content>
            <md-list>
                <h3 md-subheader>Manager</h3>
                <md-list-item>
                    <h4 md-line>StepChange Wanderers</h4>
                    <p md-line>Next game - Thursday@6pm</p>
                </md-list-item>
                <md-divider></md-divider>
                <h3 md-subheader>Player</h3>
                <md-list-item>
                    <h4 md-line>Woodhouse Warriors</h4>
                    <p md-line>Next game - Sunday@11am</p>
                </md-list-item>
                <md-list-item>
                    <h4 md-line>Jim's Kickaround</h4>
                    <p md-line>Next game - n/a</p>
                </md-list-item>
            </md-list>
        </md-card-content>
    </md-card>
</div>